

#uh{
    text-align: center;
    
}

.row:hover {
    background-color: cornflowerblue;
    transition: transform 1.5s ease-in-out;
}
#btn2:hover {
    background-color: cornflowerblue;
    transition: transform 1.5s ease-in-out;
}
#btn3:hover {
    background-color: cornflowerblue;
    transition: transform 1.5s ease-in-out;
}
body {
}
