
@{
    ViewBag.Title = "Create New PCN";
}
<link rel="stylesheet" href="Create.css" />

<h2>Create New PCN</h2>

<body>








</body>
<footer>
    <p><a class="btn btn-default" href="https://localhost:44344/Home">Return to Home</a></p>
</footer>