@model FAA.ViewModel.FAADatabaseClass
@{
    ViewBag.Title = "Create New PCN";
    List<string> names = new List<string>();
    string Name = string.Empty;
}
<link rel="stylesheet" href="Create.css" />
<script src="~/Scripts/jquery-3.4.1.js">

</script>
<script>
    let selectedinstructor = "";
    function btnpcnsubmit()
    {
        /* window.alert($("#Instructor").find(":selected").text());*/
        selectedinstructor = $("#Instructor").find(":selected").text();
        window.alert(selectedinstructor);
    }
    function initializePCNPAge() {
        $("#PCNSUBMIT").click(btnpcnsubmit);
    }
    $(document).ready(initializePCNPAge);
</script>

<h2>Create New PCN</h2>
@foreach (var item in Model.instructors)
{
    Name = $"{item.FirstName} {item.LastName}";
    names.Add(Name);
}
<body>

    <div class="row">
        <div class="col-md-4">
            <select class="form-control" id="Instructor" name="Instructor">
                <option>Select Instructor</option>
                @foreach (var item in names)
                {
                    <option>@item</option>
                }
            </select>

        </div>

        <div class="col-md-6">
            <select class="form-control" id="CourseName" name="CourseName">
                <option>Select Course</option>
                @foreach (var item in Model.courses)
                {
                    <option>ID:@item.CourseID @item.CourseName</option>
                }
            </select>

        </div>
    </div>

    <div style="padding-top: 25px">
        <p><a style="background-color: lightgray;" id="PCNSUBMIT" class="btn btn-default" href="">Submit PCN</a></p>
    </div>

</body>
<footer style="padding-top: 400px;">
    <p><a style="background-color: lightgray;" class="btn btn-default" href="https://localhost:44344/Home">Return to Home</a></p>
</footer>