
@{
    ViewBag.Title = "Create New PCN";
}
<link rel="stylesheet" href="Create.css" />

<h2>Create New PCN</h2>

<body>

   
        <div class="col-md-4">

            <h3>Instructor Name:</h3>

        </div>
        <div class="col-md-4">

            <h3>Course Number:</h3>

        </div>
        <div class="col-md-4">

            <h3>Reason for Change:</h3>

        </div>

        <div class="row" style="padding-top: 50px;">
            <div class="col-md-4">
                <p>textbox</p>
            </div>
            <div class="col-md-4">
                <p>textbox</p>
            </div>
            <div class="col-md-4">
                <p>textbox</p>
            </div>
        </div>

    <div class="row" style="padding-top: 50px;">
        <div class="col-md-4">
            <p><a style="background-color: lightgray; height: 35px; width: 315px; text-size-adjust:125%; " id="btn1" class="btn btn-default" >Enter</a></p>
        </div>
 
    </div>


</body>
<footer style="padding-top: 400px;">
    <p><a class="btn btn-default" href="https://localhost:44344/Home">Return to Home</a></p>
</footer>