@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FAA: PCN Form Website</h1>

</div>



<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="https://localhost:44344/Home/Create">Create New PCN</a></p>
    </div>
    <div class="col-md-4">
                <p><a class="btn btn-default" href="https://localhost:44344/Home/Open">View Open PCNs</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="https://localhost:44344/Home/Old">View Closed PCNs</a></p>
    </div>
</div>