@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="Index.css" />

<div>
    <h2 style="text-align:center">PCN Form Website</h2>
</div>

<div id="heading">


    <img id="logo" style="height: 250px;" src="https://th.bing.com/th/id/OIP.tloprR-Fo2HetucFpe9D5wHaHe?pid=ImgDet&rs=1" />

    
</div>





<div class="row">
    <div class="col-md-4">
        <p><a style="background-color: lightgray" id="btn1" class="btn btn-default" href="https://localhost:44344/Home/Create">Create New PCN</a></p>
    </div>
    <div class="col-md-4">
        <p><a style="background-color: lightgray" id="btn2" class="btn btn-default" href="https://localhost:44344/Home/Open">View Open PCNs</a></p>
    </div>
    <div class="col-md-4">
        <p><a style="background-color: lightgray" id="btn3" class="btn btn-default" href="https://localhost:44344/Home/Old">View Closed PCNs</a></p>
    </div>
</div>