@{
    ViewBag.Title = "Closed PCNs";
}
<link rel="stylesheet" href="Old.css" />
<h2>Closed PCNs</h2>

<footer>
    <p><a class="btn btn-default" href="https://localhost:44344/Home">Return to Home</a></p>
</footer>