@{
    ViewBag.Title = "Open PCNs";
}
<link rel="stylesheet" href="Open.css" />

<h2>Open PCNs</h2>



<body>

    
    <table class="table">
        <tr>
            <td>
                Course Number
            </td>
            <td>
                Course Name
            </td>
            <td>
                PCN Number
            </td>
            <td>
                Description
            </td>
            <td>
                Date Opened
            </td>
            <td>
                Current Phase
            </td>
            <td>
                Started By
            </td>
        </tr>
    </table>



</body>
<footer style="padding-top: 400px; ">
    <p><a style="background-color: lightgray;" class="btn btn-default" href="https://localhost:44344/Home">Return to Home</a></p>
</footer>