@{
    ViewBag.Title = "Open PCNs";
}
<link rel="stylesheet" href="Open.css" />

<h2>Open PCNs</h2>



<body>

    
    <table class="table">


        <tr>
            <th>
                Course Number
            </th>
            <th>
                Course Name
            </th>
            <th>
                PCN Number
            </th>
            <th>
                Description
            </th>
            <th>
                Date Opened
            </th>
            <th>
                Current Phase
            </th>
            <th>
                Started By
            </th>
        </tr>

        <tr>
            <td>
                10501
            </td>
            <td>
                Facility Instructor Training
            </td>
            <td>
                15
            </td>
            <td>
                Something something
            </td>
            <td>
                4-13-2022
            </td>
            <td>
                Step 1
            </td>
            <td>
                Jo Jones
            </td>
        </tr>
    </table>



</body>
<footer style="padding-top: 400px; ">
    <p><a style="background-color: lightgray;" class="btn btn-default" href="https://localhost:44344/Home">Return to Home</a></p>
</footer>